In [4]:
import pandas as pd
import numpy as np


df= pd.read_csv('medals.csv')
df.head()

,DataSetMedals,ct,dataUrl,totalviews,votecount,medalvotecount,totaldownloads,totalkernel,title,description,key,license
0,silver,2015-12-09 06:16:00,benhamner/nips-2015-papers,69099,96,29,4466,80,NIPS 2015 Papers,[Neural Information Processing Systems (NIPS)]...,"['business', 'linguistics', 'artificial intell...",ODbL-1.0
1,gold,2016-02-19 06:37:00,benhamner/2016-us-election,233338,513,90,25261,259,2016 US Election,This contains data relevant for the 2016 US Pr...,"['earth and nature', 'politics', 'computer sci...",CC-BY-NC-SA-4.0
2,silver,2016-03-08 22:41:02,seanlahman/the-history-of-baseball,63116,254,47,9294,143,The History of Baseball,Baffled why your team traded for that 34-year-...,"['baseball', 'history']",CC-BY-SA-3.0
3,gold,2016-03-09 04:10:56,mylesoneill/world-university-rankings,335275,893,158,60607,487,World University Rankings,"Of all the universities in the world, which ar...",['universities and colleges'],copyright-authors
4,bronze,2016-03-16 00:00:00,wcukierski/2016-march-ml-mania,18782,58,16,1895,73,2016 March ML Mania Predictions,Kaggle’s [March Machine Learning Mania](https:...,"['games', 'basketball', 'artificial intelligen...",CC-BY-NC-SA-4.0

In [5]:
print(df.isna().sum())
df.info()

DataSetMedals         0
ct                    0
dataUrl               0
totalviews            0
votecount             0
medalvotecount        0
totaldownloads        0
totalkernel           0
title                 0
description       22614
key                   0
license               0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42955 entries, 0 to 42954
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DataSetMedals   42955 non-null  object
 1   ct              42955 non-null  object
 2   dataUrl         42955 non-null  object
 3   totalviews      42955 non-null  int64
 4   votecount       42955 non-null  int64
 5   medalvotecount  42955 non-null  int64
 6   totaldownloads  42955 non-null  int64
 7   totalkernel     42955 non-null  int64
 8   title           42955 non-null  object
 9   description     20341 non-null  object
 10  key             42955 non-null  object
 11  license         42955 non-null  object
dtypes: int64(5), object(7)
memory usage: 3.9+ MB

In [16]:
df.nunique()

DataSetMedals         4
ct                42943
dataUrl           42955
totalviews         8597
votecount           512
medalvotecount      212
totaldownloads     3280
totalkernel         273
title             41287
description       19893
key               13796
license              28
Date                 70
URL               22478
Website            1202
dtype: int64

In [6]:
df['Date'] = pd.to_datetime(df['ct'])
df['Date'] = df['Date'].dt.to_period('M')
df.set_index(df['Date'],inplace=True)

In [7]:
df['URL'] = df['dataUrl'].apply(lambda x: x.split('/')[0])

URL_count = df.groupby('URL')['URL'].agg('count').sort_values(ascending=False)
URL_count

URL
mathurinache         797
gauravduttakiit      182
mpwolke              180
saurabhshahane       171
ukveteran            145
                    ...
jacquelineliu24        1
jacquelineandrade      1
jacobthilman           1
jacobmacleod           1
lovenico               1
Name: URL, Length: 22478, dtype: int64

In [8]:
len(URL_count[URL_count<5])

21277

In [9]:
len(URL_count[URL_count>=5])

1201

In [10]:
URL_less_than_5 = URL_count[URL_count<5]
URL_less_than_5

URL
shubhamzorc9         4
elsaesitiya          4
vikasbhadoria        4
ananthu017           4
shubhendra7          4
                    ..
jacquelineliu24      1
jacquelineandrade    1
jacobthilman         1
jacobmacleod         1
lovenico             1
Name: URL, Length: 21277, dtype: int64

In [11]:
df["Website"] = df['URL'].apply(lambda x: 'Other' if x in URL_less_than_5 else x)

In [12]:
df.head()

,DataSetMedals,ct,dataUrl,totalviews,votecount,medalvotecount,totaldownloads,totalkernel,title,description,key,license,Date,URL,Website
Date,,,,,,,,,,,,,,,
2015-12,silver,2015-12-09 06:16:00,benhamner/nips-2015-papers,69099,96,29,4466,80,NIPS 2015 Papers,[Neural Information Processing Systems (NIPS)]...,"['business', 'linguistics', 'artificial intell...",ODbL-1.0,2015-12,benhamner,benhamner
2016-02,gold,2016-02-19 06:37:00,benhamner/2016-us-election,233338,513,90,25261,259,2016 US Election,This contains data relevant for the 2016 US Pr...,"['earth and nature', 'politics', 'computer sci...",CC-BY-NC-SA-4.0,2016-02,benhamner,benhamner
2016-03,silver,2016-03-08 22:41:02,seanlahman/the-history-of-baseball,63116,254,47,9294,143,The History of Baseball,Baffled why your team traded for that 34-year-...,"['baseball', 'history']",CC-BY-SA-3.0,2016-03,seanlahman,Other
2016-03,gold,2016-03-09 04:10:56,mylesoneill/world-university-rankings,335275,893,158,60607,487,World University Rankings,"Of all the universities in the world, which ar...",['universities and colleges'],copyright-authors,2016-03,mylesoneill,mylesoneill
2016-03,bronze,2016-03-16 00:00:00,wcukierski/2016-march-ml-mania,18782,58,16,1895,73,2016 March ML Mania Predictions,Kaggle’s [March Machine Learning Mania](https:...,"['games', 'basketball', 'artificial intelligen...",CC-BY-NC-SA-4.0,2016-03,wcukierski,Other

In [13]:
drop_columns =['dataUrl','ct', 'title' ,'Date', 'description','key' ,'license','URL','totalkernel']
data = df.drop(drop_columns,axis=1)

In [14]:
data.rename(columns={'DataSetMedals':'Medal',
                      'totalviews':'Views',
                        'votecount':'Total_vote',
                        'medalvotecount':'Medal_vote',
                        'totaldownloads':'Downloads'},inplace=True)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 42955 entries, 2015-12 to 2021-11
Freq: M
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Medal       42955 non-null  object
 1   Views       42955 non-null  int64
 2   Total_vote  42955 non-null  int64
 3   Medal_vote  42955 non-null  int64
 4   Downloads   42955 non-null  int64
 5   Website     42955 non-null  object
dtypes: int64(4), object(2)
memory usage: 2.3+ MB

In [17]:
data.nunique()

Medal            4
Views         8597
Total_vote     512
Medal_vote     212
Downloads     3280
Website       1202
dtype: int64

In [19]:
data.head()

          Medal   Views  Total_vote  Medal_vote  Downloads      Website
Date
2015-12  silver   69099          96          29       4466    benhamner
2016-02    gold  233338         513          90      25261    benhamner
2016-03  silver   63116         254          47       9294        Other
2016-03    gold  335275         893         158      60607  mylesoneill
2016-03  bronze   18782          58          16       1895        Other